.page {
  background-color: #f7f7f7;

  width: 100%;
  max-width: 500px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.titleWrap {
  margin-top: 87px;
  font-size: 26px;
  font-weight: 700;
  color: #262626;
}

.contentWrap {
  margin-top: 26px;
  flex: 1; /* 다 차지함 */
}

.inputTitle {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
}

.inputWrap {
  display: flex; /*? 여기 왜 적용 + input을 div로 감싸는 이유*/
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}

.inputWrap:focus-within {
  border: 1px solid #9e30f4;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: #dadada;
}

.errorMessageWrap {
  margin-top: 8px;
  color: red;
  font-size: 12px;
}

.bottomButton {
  width: 100%;
  height: 48px;
  border: none;
  font-weight: 700;
  background-color: #9e30f4;
  border-radius: 4px;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
}

/* button이 활성화 되지 않았을 때 */
.bottomButton:disabled {
  background-color: #dadada;
  color: white;
}
